:root {
    --grey1: #858585;	
    --grey2: #ECECEC;
    --grey3: #A4A4A5;
    --grey4: #696A6A;
    --grey5: #4C4E4F;


--standardFont: 'Titillium Web', cool; 
--serifFont: 'Muli', serif;
--fancyFont: 'Indie FLower', cursive;

}